@font-face {
    src: url("http://localhost:8080/static/font/Biko-regular.ttf");
    font-family: Biko;
}

*{
    box-sizing: border-box;
    font-family: Biko;
}

body{
    margin:0;
    background-color: #a22db0;
}

.navbar{
    background-color: white;

    width: 100vw;
    padding: 7px 12px;
    display: flex;
    box-shadow: 0px 2px 2px #d3d3d3;

    position:absolute;
    left:0;
    top:0;
    right:0;
}

.navbarLogo img{
    height: 64px;
}

.navbar div{
  width: 100%;
}

.container{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    padding: 15px;
}

.searchBox input{
    border:1px solid white;
    padding: 10px;
    width: 400px;
    outline: none;
    font-size: 12pt;
    padding-left: 42px;

    background-image: url("../img/loupe.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left 9px center;
}

.searchBox a{
    margin-top: 10px;
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.findButton{
    background-color: black;
    color: white;
    border: 0px;
    height: 38px;
    width: 84px;
}

.searchBoxInputContainer{
    display: flex;
    align-items: center;
}

.navbarButton{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarButton a{
    cursor: pointer;
}
