*{
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    margin:0px;
}

.navbar{
    width: 100vw;
    padding: 15px;
    display: flex;
    box-shadow: 0px 10px 2px #d3d3d3;
}

.navbar div{
    width: 100%;
    padding: 0px 10px;
}

.navbarLogo img{
    height: 64px;
}

.navbarSelect{
    width: fit-content !important;
    display: flex;
    align-items: center;
}

.navbarSelect select{

}

.navbarSearch{
    font-size: 13pt;
    border: 1px solid lightgray;
    border-radius: 18pt;
    outline: none;
    padding: 5px 10px;
}

.container{
    width: 100vw;
    height: calc(100vh - 94px);
    display: flex;
    align-items: center;
    position: relative;
}

.searchBox{
    display: flex;
    flex-direction: column;
}

.searchBox input{
    border:1px solid lightgray;
    padding: 10px;
    width: 400px;
    outline: none;
}

.searchBox a{
    margin-top: 10px;
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.container iframe{
    position: relative !important;
    width:100%;
    height: 100%;
}

.modal{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    background-color: white;
    width: 25vw;
    padding: 5px;
    overflow-y: scroll;
    transition: 0.5s all;
}

.info{
    display: flex;
    height:64px;
}

.info .infoPic img{
    height:64px;
    border-radius: 32px;
}

.info .infoText{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.info .infoTextName{
    display: flex;
    align-items: center;
    height:100%;
}

.modalImages{
    margin-top: 15px;
    width:100%;
    display: flex;
    overflow-x: scroll;
}

.modalImages img{
    width:100%;
}

.map {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ModalTitle{
    padding: 20px 5px;
    font-weight: bold;
    font-size: 15pt;
    border-bottom: 2px solid black;
}

.modalEvents{
    padding: 10px;
}

.modalEvent{
    width:100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.modalEventTitle{
    font-size:12pt;
    text-align: left;
    display: flex;
    align-items: center;
}

.modalEventTitle img{
    margin-right: 10px;
}

.modalEventImages{
    display: flex;
    overflow-x: scroll;
}

.modalEventImages img{
    width:100%;
}
