{% extends "search.html" %}

{% block sideCard %}

    <div id="modal" class="modal">
        <div class="info">
            <div class="infoPic">
                <img src="../{{ businessProfilePhoto }}"/>
            </div>
            <div class="infoText">
                <div class="infoTextName"><b>{{ businessName }}</b></div>
                <div class="infoTextName">{{ businessType }}</div>
            </div>
        </div>
        <div class="modalImages">
            {% for image in businessPhoto %}
                <img src="{{ image }}"/>
            {% endfor %}
        </div>
        <div class="ModalTitle">
            Events:
        </div>
        <div class="modalEvent">

        </div>
    </div>

{% endblock %}
