{% extends "search.html" %}
{% load static %}
{% block sideCard %}

    <div id="modal" class="modal">
        <div class="info">
            <div class="infoPic">
                <img src="../{{ businessProfilePhoto }}"/>
            </div>
            <div class="infoText">
                <div class="infoTextName"><b>{{ businessName }}</b></div>
                <div class="infoTextName">{{ businessType }}</div>
            </div>
        </div>
        <div class="modalImages">
            {% for image in businessPhoto %}
                <img src="{{ image }}"/>
            {% endfor %}
        </div>
        <div class="ModalTitle">
            Events:
        </div>
        <div class="modalEvents">
            {% for e in events %}
                <div class="modalEvent">

                    <div class="modalEventImages">
                        {% for im in e.images.all %}
                            <img src="../{{ im.path }}"/>
                        {% endfor %}
                    </div>
                    <div class="modalEventTitle">
                        {{ e.name }} ({{ e.min_age }}+)
                    </div>
                    <div class="modalEventTitle">
                        <img src="{% static "img/schedule.png" %}"/>{{ e.datetime }}
                    </div>
                    <div class="modalEventTitle">
                        <img src="{% static "img/location.png" %}"/>{{ e.location }}
                    </div>
                    <div class="modalEventTitle">
                        <img src="{% static "img/theme.png" %}"/>{{ e.theme }}
                    </div>
                    <div class="modalEventTitle">
                        <img src="{% static "img/dress-code.png" %}"/>{{ e.dress_code }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
