{% extends "dashboard.html" %}
{% load static %}
{% block content %}
    <div id="formus">
        <form action="." method="post">
            {% csrf_token %}
            <h4 class="form-title">Add Event</h4>
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.location.label_tag }}
                {{ form.location }}
            </div>
            <div class="form-group">
                {{ form.datetime.label_tag }}
                {{ form.datetime }}
            </div>
            <div class="form-group">
                {{ form.type.label_tag }}
                {{ form.type }}

                {{ form.theme.label_tag }}
                {{ form.theme }}
            </div>
            <div class="form-group">
                {{ form.min_age.label_tag }}
                {{ form.min_age }}
            </div>
            <div class="form-group">
                {{ form.dress_code.label_tag }}
                {{ form.dress_code }}
            </div>
            <div class="form-group">
                {{ form.organization.label_tag }}
                {{ form.organization }}
            </div>
            <div class="form-group col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn btn-default">Save</button>
            </div>

				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
        </form>

    </div>
{% endblock %}