{% extends "dashboard.html" %}
{% load static %}
{% block content %}
    <div id="formus">
        <form action="." method="post">
            {% csrf_token %}
            <h4 class="form-title">Edit Advertisement</h4>
            <div class="form-group">
                {{ form.event.label_tag }}
                {{ form.event }}
            </div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {{ form.date }}
                {{ form.expire.label_tag }}
                {{ form.expire }}
            </div>
            <div class="form-group">
                {{ form.body.label_tag }}
                {{ form.body }}
            </div>
            <div class="form-group">
                {{ form.dress_code.label_tag }}
                {{ form.dress_code }}
            </div>
            <div class="form-group col-md-offset-2 col-md-10">
                <a type="delete" value="Delete" class="btn btn-default" href="{% url 'dashboard_ad_delete' num=num %}">Delete</a>
            </div>

            <div class="form-group col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default">
            </div>
				{% for field in form %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				{% endfor %}
        </form>

    </div>
{% endblock %}