{% extends "dashboard.html" %}
{% load static %}

{% block content %}
<div class="home-container">
    <div class="home-title">
        <h1>Home</h1>
    </div>
    <div class="events">
        <div class="title">
            <h1>Events</h1>
        </div>
        <div class="events-content">
            <div class="pub">
                <div>
                    <p class="fa">Event Number 1</p>
                    <a href={% url 'dashboard_event' num=1 %}><i class="fa fa-pencil"></i></a>
                </div>
                <span></span>
            </div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
        </div>
        <img id="background-image" src="{% static "img/DashBoardFundo.png" %}"/>
    </div>
    <div class="pubs">
        <div class="title">
            <h1>Ads</h1>
        </div>
        <div class="pubs-content">
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
            <div class="pub"></div>
        </div>
        <img id="background-image" src="{% static "img/DashBoardFundo3.png" %}"/>
    </div>
    <div class="profiles">
        <div class="title">
            <h1 style="display: inline-block">Profile</h1>
            <a class="edit-button" href={% url 'dashboard_profile' %}><i class="fa fa-pencil"></i></a>
        </div>
        <div class="profile-content">
            <div class="profile"></div>
        </div>
    </div>
    <div class="comments">
        <div class="title">
            <h1>Comments</h1>
        </div>
        <div class="comments-content">
            <div class="comment"></div>
            <div class="comment"></div>
            <div class="comment"></div>
            <div class="comment"></div>
            <div class="comment"></div>
            <div class="comment"></div>
            <div class="comment"></div>
        </div>
        <img id="background-image" src="{% static "img/DashBoardFundo2.png" %}"/>
    </div>

</div>
{% endblock %}