{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}">
    <style>
        @font-face {
            src: local("Biko_Regular"), url("/static/font/Biko_Regular.ttf");
            font-family: Biko;
        }

        *{
            box-sizing: border-box;
            font-family: Biko;
        }
    </style>
    <script>
        function openModal(){
            document.getElementById('modal').style.width="25vw";
        }
    </script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script>
        function myfunction(){
            $("#modal").css({"width": "25vw"});
        }
    </script>
</head>
<body>
    <div class="navbar">
        <div class="navbarLogo"><a href="/"><img src="{% static "img/logo.png" %}"/></a></div>
        <div class="filterContainer">
            <a href="/search/filter/">Filter</a>
        </div>
        <div class="searchBoxInputContainer">
            <form action="{% url 'search' %}" >
                {% csrf_token %}
                <input id="textbox" type="text" placeholder="Search for Places by name, location..." name="query"/><button id="button" type="submit" class="findButton">Find events</button>
            </form>
        </div>
    <!--
        <div class="navbarSelect">
            <select>
                <option>Localização</option>
                <option value="Aveiro">Aveiro</option>
                <option value="Beja">Beja</option>
                <option value="Braga">Braga</option>
                <option value="Bragança">Bragança</option>
                <option value="Castelo Branco">Castelo Branco</option>
                <option value="Coimbra">Coimbra</option>
                <option value="Évora">Évora</option>
                <option value="Faro">Faro</option>
                <option value="Guarda">Guarda</option>
                <option value="Leiria">Leiria</option>
                <option value="Lisboa">Lisboa</option>
                <option value="Portalegre">Portalegre</option>
                <option value="Porto">Porto</option>
                <option value="Santarem">Santarem</option>
                <option value="Setúbal">Setúbal</option>
                <option value="Viana do Castelo">Viana do Castelo</option>
                <option value="Vila Real">Vila Real</option>
                <option value="Viseu">Viseu</option>
            </select>
        </div>
        -->
        <!--
        <div class="navbarSelect">
            <select>
                <option>Estabelecimento</option>
                {% for x in types %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="navbarSelect">
            <input type="text" class="navbarSearch" placeholder="Search..."/>
        </div>
        -->
    </div>
    <div class="container" id="mapdiv">
        <div class="map">{% include "map.html" %}</div>
        {% block sideCard %}


        {% endblock %}
    </div>
</body>
